.similar {
  margin-top: 10px;
  .box__img {
    position: relative;

  }

  .sale-number {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__rebate {
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    margin: 0px !important;

    p {
      position: absolute;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      transform: rotate(-45deg);
      top: 0;
      left: 0;
      padding: 7px;
    }

  }

  &__price {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #979797;

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #1D1D1B;
      margin-left: 8px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
    margin: 8px 0;
  }

  &__size {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #979797;

    span {
      margin-left: 8px;
    }

    margin-bottom: 16px;
  }


  .colors {
    display: flex;
    margin-left: 10px;

    &__circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 12px;
      border: 0.5px solid transparent;
      padding: 2px;
    }

    &__circle:hover {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 12px;
      border: 1px solid #636363;
      padding: 2px;
      transition: .5s;
    }
  }

  .grey {
    background: #73A39D;
  }

  .green {
    background: #84CC4C;
  }

  .purple {
    background: #B5A8A1;
  }

  .brown {
    background: #AB844A;
  }

  .blue {
    background: #6977F0;
  }

  .white {
    background: #FFFFFF;
  }

  .black {
    background: #141414;
  }

  .red {
    background: #FF0000;
  }

}