
.basket {
  padding: 11px 0;

  &__img {
    max-width: 112px;
  }

  &__left {
    height: 166px;
    width: 100%;
    padding: 12px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
  }

  &__left-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #393939;

  }

  &__left-size {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7C7C7C;
    margin: 15px 0 6px;

    span {
      margin-right: 4px;
    }
  }

  &__left-color {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7C7C7C;
    display: flex;
    align-items: center;
  }

  &__color-div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #B5A8A1;
    margin-left: 8px;
  }

  &__img {
    height: 142px;
    margin-right: 16px;
  }

  &__left-price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #393939;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ADADAD;
    }

    margin: 6px 0 12px;
  }

  &__btns {
    display: flex;
    align-items: center;

    button {
      width: 32px;
      height: 32px;
      background: #F8F8F8;
      border: 1px solid #EFEFEF;
      border-radius: 6px;
      color: #1A1E3D;
      font-size: 20px;
    }
  }

  &__count {
    width: 32px;
    height: 20px;
    background: transparent;
    color: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
  }

  .order {
    background: #FFFFFF;
    padding: 24px;

    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #393939;
      margin-bottom: 16px;
    }

    &__info {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #979797;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      span {
        color: #393939;
      }
    }
  }


  &__line {
    border: 1px dashed grey;
    width: 100%;
    margin: 12px 0;
  }

  &__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #E5271B;
    padding: 12px 97px;
    height: 44px;
    width: 100%;
    border: none;

  }
}