.about-img{
  margin: 12px;
}
.right {
  background: #fff;
  padding: 12px 24px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin-bottom: 8px;
  }

  &__desc {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: #979797;
  }
}
.about-block{
  margin-bottom: 60px;
}