@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Anko Personal Use';
    src: url("fonts/AnkoPersonalUse.otf");
    src: url("fonts/Anko-PersonalUse-Bold.otf");
    src: url("fonts/Anko-PersonalUse-BoldItalic.otf");
    src: url("fonts/Anko-PersonalUse-Medium.otf");
    src: url("fonts/Anko-PersonalUse-MediumItalic.otf");
    src: url("fonts/Anko-PersonalUse-SemiBold.otf");
    src: url("fonts/Anko-PersonalUse-SemiBoldItalic.otf");
    src: url("fonts/AnkoPersonalUse-RegularItalic.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.pages {
    min-height: 60vh;
}

a {
    text-decoration: none;
}


p {
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
    width: 100%;
    object-fit: contain;
}

.card:hover {
    box-shadow: 0 0 8px 5px rgba(34, 60, 80, 0.2);
    transition: .6s;
}

